setuptools>=70.0.0
dash>=2.14.2
dash-bootstrap-components>=1.6.0
Flask>=3.0.0
gunicorn>=21.2.0
pandas>=2.1.0
numpy>=1.26.0
scikit-learn>=1.4.0
scipy>=1.12.0
plotly>=5.18.0
matplotlib>=3.8.0
fpdf2>=2.7.1
kaleido>=0.2.1
requests>=2.31.0
python-dateutil>=2.8.2
